<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<springProfile name="jsonlogging">
		<appender name="STDOUT"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="net.logstash.logback.encoder.LogstashEncoder">
				<throwableConverter
					class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
					<!-- default max size of one log line in docker is 16kb - UTF8 ~ 1 Character 
						= 1 Byte -->
					<maxLength>8096</maxLength>
					<exclude>sun\.reflect\..*\.invoke.*</exclude>
					<exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
					<rootCauseFirst>true</rootCauseFirst>
				</throwableConverter>
			</encoder>
		</appender>
		<root level="info">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
	<springProfile name="!jsonlogging">
		<include resource="org/springframework/boot/logging/logback/base.xml" />
	</springProfile>
</configuration>